name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build -p ibt --verbose
      - name: Run tests
        run: cargo test -p ibt --verbose
      - name: Lint
        run: cargo clippy -p ibt --all-targets
